<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Gestion Usuarios</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script> 


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

     <style>
        .custom-dropdown-toggle::after {
            display: none; 
        }
        .card-img-top{
          max-height: 300px;
          width:auto; 
        }
        
    </style>
</head>

<body style="zoom: 1.5;">
    <% include nav.ejs %>
    <input id="paciente" type="hidden" value="<%= dni %>">
    <main>
        <div class="container mt-2">
              <% if (typeof correct !== 'undefined' && correct !== '') { %>
                <div class="message-container-validated text-center">
                  <label class="form-label message"><%= correct %></label>
                </div>
              <% } %>
              <% if (typeof error !== 'undefined' && error !== '') { %>
                <div class="message-container-error text-center">
                  <label class="form-label message"><%= error %></label>
                </div>
              <% } %>

              <div class="container mt-4">
                <div class="text-center mb-1 pb-3">
                    <h4>Funciones de <%= nombrePaciente %> <%=apellidosPaciente%></h4>
                </div>
    
                <div class="row">
                    
            <div class="card mb-3 p-3 border-0">
                <div class="row g-0">
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
                        <img src="/images/tratamiento.jpg" class="img-fluid rounded-circle border" style="width: 200px; height: 200px;" alt="Iniciar tratamiento">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Iniciar tratamiento</h5>
                            <p class="card-text">Inicia un tratamiento con <%= nombrePaciente %> <%=apellidosPaciente%></p>
                            <button id="iniciarTratamiento" class="btn btn-primary" type="button">Iniciar tratamiento</button>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <div class="card mb-3 p-3 border-0">
              <div class="row g-0">
                  <div class="col-md-4 d-flex align-items-center justify-content-center">
                      <img src="/images/cita-medica.jpg" class="img-fluid rounded-circle border" style="width: 200px; height: 200px;" alt="Pedir Cita">
                  </div>
                  <div class="col-md-8">
                      <div class="card-body">
                          <h5 class="card-title">Pedir Cita</h5>
                          <p class="card-text">Pedir una cita con <%= nombrePaciente %> <%=apellidosPaciente%></p>
                          <button id="Pedir Cita" class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#modalAgregarCita">Añadir una cita</button>
                      </div>
                  </div>
              </div>
          </div>
          <hr>

          <div class="card mb-3 p-3 border-0">
            <div class="row pb-3 g-0">
                <div class="col-md-4 d-flex align-items-center justify-content-center">
                    <img src="/images/historial.jpg" class="img-fluid rounded-circle border" style="width: 200px; height: 200px;" alt="Crear historial">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Crear historial</h5>
                        <p class="card-text">Crea un historial para <%= nombrePaciente %> <%=apellidosPaciente%></p>
                        <button id="crearHistorial" class="btn btn-primary" type="button">Crear historial médico</button>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row g-0">
              <div class="col-md-8">
                  <div class="card-body">
                      <h5 class="card-title">Ver historial</h5>
                      <p class="card-text">Ver historial de <%= nombrePaciente %> <%=apellidosPaciente%></p>
                      <button id="mostrarHistorial" class="btn btn-primary" type="button">Ver historial médico</button>
                  </div>
              </div>
              <div class="col-md-4 d-flex align-items-center justify-content-center">
                <img src="/images/watchIcon.jpg" class="img-fluid rounded-circle border" style="width: 200px; height: 200px;" alt="Ver historial">
              </div>
            </div>
            <hr>
            <div class="row pb-3 g-0">
              <div class="col-md-4 d-flex align-items-center justify-content-center">
                  <img src="/images/addDocument.jpg" class="img-fluid rounded-circle border" style="width: 200px; height: 200px;" alt="Añadir detalles">
              </div>
              <div class="col-md-8">
                  <div class="card-body">
                      <h5 class="card-title">Añadir detalles</h5>
                      <p class="card-text">Añade detalles al historial de <%= nombrePaciente %> <%=apellidosPaciente%></p>
                      <button id="aniadirDetalles" class="btn btn-primary" type="button">Añadir detalles al historial médico</button>
                  </div>
              </div>
            </div>
            <hr>
            <div class="row pb-3 g-0">
              <div class="col-md-8">
                  <div class="card-body">
                      <h5 class="card-title">Eliminar Historial Médico</h5>
                      <p class="card-text">Elimina el historial de <%= nombrePaciente %> <%=apellidosPaciente%></p>
                      <button id="eliminarHistorial" class="btn btn-danger" type="button">Eliminar historial médico</button>
                  </div>
              </div>
              <div class="col-md-4 d-flex align-items-center justify-content-center">
                <img src="/images/trashIcon.png" class="img-fluid rounded-circle border" style="width: 200px; height: 200px;" alt="Eliminar historial médico">
              </div>
            </div>
          
          </div>
          <hr>
        </div>
    </main>


    <div class="modal fade" id="modalIniciarTratamiento" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Formulario de Tratamiento</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form id="formTratamiento" method="post" action="/doctor/guardarTratamiento">
                <div class="form-group">
                  <label for="descripcion">Descripción:</label>
                  <textarea class="form-control" id="descripcion" name="descripcion" placeholder="Síntomas o razón de la consulta" required></textarea>
                  <input type="hidden" id="dniPacienteInput" name="dniPaciente" value="<%= dni %>">
                  <input type="hidden" name="nombrePaciente" value="<%= nombrePaciente %>">
                  <input type="hidden" name="apellidosPaciente" value="<%= apellidosPaciente%>">
                  <input type="hidden" id="contadorFilas" name="contadorFilas">
                </div>
      
                <div class="table-responsive">
                  <table class="table" id="tablaTratamiento">
                    <thead>
                      <tr>
                        <th>Medicamento</th>
                        <th>Dosis</th>
                        <th>Hora 1ra Toma</th>
                        <th>Tomas al Día</th>
                        <th>Fecha Inicio</th>
                        <th>Fecha Fin</th>
                        <th></th><!--Columna para los botones-->
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><input type="text" class="form-control" name="medicamento[]" required></td>
                        <td><input type="text" class="form-control" name="dosis[]" required></td>
                        <td><input type="time" class="form-control" name="hora_primera_toma[]" required></td>
                        <td><input type="number" class="form-control" name="tomas_al_dia[]" required></td>
                        <td><input type="date" class="form-control" name="fecha_inicio[]" required></td>
                        <td><input type="date" class="form-control" name="fecha_fin[]" required></td>
                        <td><button type="button" class="btn btn-danger btnEliminarFila">-</button></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
      
                <button type="button" class="btn btn-success" id="btnAgregarFila">+</button>
      
                <button type="submit" class="btn" style="background-color: rgb(18,70,85); color: white;">Guardar Tratamiento</button>
              </form>
            </div>
          </div>
        </div>
      </div>

    <div class="modal fade" id="modalAgregarCita" tabindex="-1" aria-labelledby="modalAgregarCitaLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalAgregarCitaLabel">Añadir Cita</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="/doctor/citas/asignar-cita" method="post">
              <input type="hidden" name="apellidosPaciente" value="<%= apellidosPaciente%>">
              <div class="mb-3">
                <label for="nombre" class="form-label">Paciente:</label>
                <input type="text" name="nombrePaciente" class="form-control" id="nombrePaciente" value="<%= nombrePaciente %>" readonly required>
              </div>
              <div class="mb-3">
                <label for="nombre" class="form-label">DNI Paciente:</label>
                <input type="text" name="dni" class="form-control" id="dni" value="<%= dni %>" readonly required>
              </div>
              <div class="mb-3">
                <label for="fecha" class="form-label">Fecha:</label>
                <input type="date" name="fecha" class="form-control" id="fecha" required>
              </div>
              <div class="mb-3">
                <label for="hora" class="form-label">Hora:</label>
                <input type="time" name="hora" class="form-control" id="hora" required>
              </div>
              <div class="mb-3">
                <label for="duracion" class="form-label">Duración(min):</label>
                <input type="number" name="duracion" class="form-control" id="duracion" min=0 max=60 required>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary">Guardar</button>
              </div>

            </form>
          </div>         
        </div>
      </div>
    </div>
      
    <div class="modal fade" id="modalAniadirDetalles" tabindex="-1" aria-labelledby="modalAniadirDetallesLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalAniadirDetallesLabel">Añadir detalles al historial</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="/doctor/historial/aniadirDetalles" method="post">
              <input type="hidden" name="dni" value="<%= dni %>">
              <input type="hidden" name="nombrePaciente" value="<%= nombrePaciente %>">
              <input type="hidden" name="apellidosPaciente" value="<%=apellidosPaciente%>">
              <label for="detalles">Detalles:</label>
              <textarea class="form-control" id="detalles" name="detalles" rows="3"></textarea>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary">Guardar</button>
              </div>
            </form>
          </div>         
        </div>
      </div>
    </div>

    <div class="modal fade" id="exitoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
          </div>
          <button id="ExitoModalCerrar" type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>

    <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
          </div>
          <button id="ErrorModalCerrar" type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>



  
    <script>
      var dni = "<%= dni %>";
      var nombrePaciente = "<%= nombrePaciente %>";
      var apellidosPaciente = "<%=apellidosPaciente%>";
        $("#crearHistorial").on('click', function(){
            window.location.href = '/doctor/historial/CrearHistorial?dni='+dni;
        });

        $("#ErrorModalCerrar").on('click', function(){
          $('#errorModal').modal('hide');
        });

        $("#ExitoModalCerrar").on('click', function(){
          $('#exitoModal').modal('hide');
        });
        

        $("#iniciarTratamiento").on('click', function(){               
            $('#modalIniciarTratamiento').modal('show');
        });

        $("#aniadirDetalles").on('click', function(){               
            $('#modalAniadirDetalles').modal('show');
        });

        $("#mostrarHistorial").on('click', async function() {
        const dniPaciente = $("#dniPaciente").val(); 

        $.ajax({
          url: '/doctor/historial/obtenerPDF',
          type: 'GET',
          contentType: 'application/json',
          data: { dniPaciente: dni, nombrePaciente:nombrePaciente, apellidosPaciente:apellidosPaciente },
          success: function(response) {

            const downloadLink = document.createElement('a');
            downloadLink.href = '/doctor/historial/obtenerPDF?dniPaciente=' + dni;
            downloadLink.download = 'Historial-' + dni + '.pdf';
            document.body.appendChild(downloadLink);
            downloadLink.click();
            document.body.removeChild(downloadLink);
          },
          error: function(response) {
            var errorModal = $('#errorModal');
            errorModal.find('.modal-body').text('El historial del paciente no se pudo encontrar');
            errorModal.modal('show');
          }
        });
      });


        $('#eliminarHistorial').on('click', function() {
          $.ajax({
            url: '/doctor/historial/eliminar', 
            type: 'DELETE',
            contentType: 'application/json',
            data: JSON.stringify({ dniPaciente: dni,nombrePaciente:nombrePaciente, apellidosPaciente:apellidosPaciente  }),
            success: function() {
              var exitoModal = $('#exitoModal');
              exitoModal.find('.modal-body').text('Historial médico eliminado con éxito');
              exitoModal.modal('show');
            },
            error: function(xhr, status, error) {
              var errorModal = $('#errorModal');
              if (xhr.status === 404) {
                errorModal.find('.modal-body').text('Historial no existe');
              } else {
                errorModal.find('.modal-body').text('Error al eliminar el historial médico');
                console.log(error);
              }
              errorModal.modal('show');
            }
          });
        });

        $("#btnAgregarFila").click(function() {
            var nuevaFila = $("<tr><td><input type='text' class='form-control' name='medicamento[]'></td><td><input type='text' class='form-control' name='dosis[]'></td><td><input type='time' class='form-control' name='hora_primera_toma[]'></td><td><input type='number' class='form-control' name='tomas_al_dia[]'></td><td><input type='date' class='form-control' name='fecha_inicio[]'></td><td><input type='date' class='form-control' name='fecha_fin[]'></td><td><button type='button' class='btn btn-danger btnEliminarFila'>-</button></td></tr>");
            $("#tablaTratamiento tbody").append(nuevaFila);
        });

        $(".table").on("click", ".btnEliminarFila", function() {
            $(this).closest("tr").remove();        
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
        
</body>
</html>