<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion Usuarios</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">

     <style>
        .custom-dropdown-toggle::after {
            display: none; 
        }
    </style>
</head>

<body>
    <% include nav.ejs %>
    <input id="paciente" type="hidden" value="<%= dni %>">
    <main>
        <div class="container mt-2">
            <div class="row">

                <div class="col-4">
                    <div class="card p-2 text-center">
                        <img class="card-img-top" src="/images/tratamiento.png" alt="Iniciar tratamiento imagen">
                        <div class="card-body">
                          <p class="card-text"><button id="iniciarTratamiento" class="btn" type="button" style="background-color: rgb(18,70,85); color: white;">Iniciar tratamiento</button></p>
                        </div>
                    </div>
                </div>
                <div class="col-4 mt-2">
                  <div class="card p-2 text-center">
                      <img class="card-img-top" src="/images/cita-medica.jpg" alt="Cita Medica">
                      <div class="card-body">
                        <p class="card-text"><button id="Pedir Cita" class="btn" type="button" style="background-color: rgb(18,70,85); color: white;" data-bs-toggle="modal" data-bs-target="#modalAgregarCita">Añadir una cita</button></p>
                      </div>
                  </div>
              </div>
              <div class="col-4">
                <div class="card p-2 text-center">
                    <img class="card-img-top" src="/images/historial.png" alt="Historial Médico">
                    <div class="card-body">
                      <p class="card-text"><button id="crearHistorial" class="btn" type="button" style="background-color: rgb(18,70,85); color: white;">Crear historial médico</button></p>
                    </div>
                </div>
            </div>
              <div class="col-4">
                <div class="card p-2 text-center">
                    <img class="card-img-top" src="/images/watchIcon.png" alt="Ver Historial">
                    <div class="card-body">
                      <p class="card-text"><button id="mostrarHistorial" class="btn" type="button" style="background-color: rgb(18,70,85); color: white;">Ver historial médico</button></p>
                    </div>
                </div>
            </div>
              <div class="col-4">
                <div class="card p-2 text-center">
                    <img class="card-img-top" src="/images/addDocument.png" alt="Aniadir Detalles Historial">
                    <div class="card-body">
                      <p class="card-text"><button id="aniadirDetalles" class="btn" type="button" style="background-color: rgb(18,70,85); color: white;">Añadir detalles al historial médico</button></p>
                    </div>
                </div>
              </div>
              <div class="col-4">
                <div class="card p-2 text-center">
                    <img class="card-img-top" src="/images/trashIcon.png" alt="Eliminar Historial">
                    <div class="card-body">
                      <p class="card-text"><button id="eliminarHistorial" class="btn" type="button" style="background-color: rgb(18,70,85); color: white;">Eliminar historial médico</button></p>
                    </div>
                </div>
              </div>
            </div>
            
        </div>
    </main>
    <div class="modal fade" id="modalIniciarTratamiento" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document"> <!-- Utilizamos modal-xl para un modal extra grande -->
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Formulario de Tratamiento</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form id="formTratamiento" method="post" action="/doctor/guardarTratamiento">
                <div class="form-group">
                  <label for="descripcion">Descripción:</label>
                  <textarea class="form-control" id="descripcion" name="descripcion" placeholder="Síntomas o razón de la consulta" required></textarea>
                  <input type="hidden" id="dniPacienteInput" name="dniPaciente" value="<%= dni %>">
                  <input type="hidden" id="contadorFilas" name="contadorFilas">
                </div>
      
                <div class="table-responsive"> <!-- Agregamos el contenedor responsive a la tabla -->
                  <table class="table" id="tablaTratamiento">
                    <thead>
                      <tr>
                        <th>Medicamento</th>
                        <th>Dosis</th>
                        <th>Hora 1ra Toma</th>
                        <th>Tomas al Día</th>
                        <th>Fecha Inicio</th>
                        <th>Fecha Fin</th>
                        <th></th> <!-- Columna para el botón de eliminar fila -->
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><input type="text" class="form-control" name="medicamento[]" required></td>
                        <td><input type="text" class="form-control" name="dosis[]" required></td>
                        <td><input type="time" class="form-control" name="hora_primera_toma[]" required></td>
                        <td><input type="number" class="form-control" name="tomas_al_dia[]" required></td>
                        <td><input type="date" class="form-control" name="fecha_inicio[]" required></td>
                        <td><input type="date" class="form-control" name="fecha_fin[]" required></td>
                        <td><button type="button" class="btn btn-danger btnEliminarFila">-</button></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
      
                <button type="button" class="btn btn-success" id="btnAgregarFila">+</button>
      
                <button type="submit" class="btn" style="background-color: rgb(18,70,85); color: white;">Guardar Tratamiento</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal Pedir Cita -->
    <div class="modal fade" id="modalAgregarCita" tabindex="-1" aria-labelledby="modalAgregarCitaLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalAgregarCitaLabel">Añadir Cita</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="/doctor/citas/asignar-cita" method="post">
              <div class="mb-3">
                <label for="nombre" class="form-label">DNI Paciente:</label>
                <input type="text" name="dni" class="form-control" id="dni" value="<%= dni %>" readonly required>
              </div>
              <div class="mb-3">
                <label for="fecha" class="form-label">Fecha:</label>
                <input type="date" name="fecha" class="form-control" id="fecha" required>
              </div>
              <div class="mb-3">
                <label for="hora" class="form-label">Hora:</label>
                <input type="time" name="hora" class="form-control" id="hora" required>
              </div>
              <div class="mb-3">
                <label for="duracion" class="form-label">Duración(min):</label>
                <input type="number" name="duracion" class="form-control" id="duracion" min=0 max=60 required>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary">Guardar</button>
              </div>

            </form>
          </div>         
        </div>
      </div>
    </div>
      
    <div class="modal fade" id="modalAniadirDetalles" tabindex="-1" aria-labelledby="modalAniadirDetallesLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalAniadirDetallesLabel">Añadir detalles al historial</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="/doctor/historial/aniadirDetalles" method="post">
              <input type="hidden" name="dni" value="<%= dni %>">
              <label for="detalles">Detalles:</label>
              <textarea class="form-control" id="detalles" name="detalles" rows="3"></textarea>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary">Guardar</button>
              </div>
            </form>
          </div>         
        </div>
      </div>
      
</div>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>   
    <script>
      var dni = "<%= dni %>";
        $("#crearHistorial").on('click', function(){
            window.location.href = '/doctor/historial/CrearHistorial?dni='+dni;
        });
        

        $("#iniciarTratamiento").on('click', function(){               
            $('#modalIniciarTratamiento').modal('show');
        });
        $("#aniadirDetalles").on('click', function(){               
            $('#modalAniadirDetalles').modal('show');
        });
        $("#mostrarHistorial").on('click', async function(){
            $.ajax({
                url: '/doctor/historial/obtenerURLPDF',
                type: 'GET',
                data: {dniPaciente: dni},
                success: function(response) {
                    var win = window.open(response.downloadURL, '_blank');
                    win.focus();
                },
                error: function(response) {
                    alert(response.responseJSON.error);
                }
            });
        });
        $('#eliminarHistorial').on('click', function() {
          $.ajax({
            url: '/doctor/historial/eliminar', 
            type: 'DELETE',
            contentType: 'application/json', // Especifica que envías JSON
            data: JSON.stringify({ dniPaciente: dni }), // Convierte el objeto a JSON
            success: function() {
              alert('Historial médico eliminado con éxito');
            },
            error: function(xhr, status, error) {
              if (xhr.status === 404) {
                alert('Archivo no encontrado');
              } else {
                console.log(error)
                alert('Error al eliminar el historial médico');
              }
            }
          });
        });

        $("#btnAgregarFila").click(function() {
            var nuevaFila = $("<tr><td><input type='text' class='form-control' name='medicamento[]'></td><td><input type='text' class='form-control' name='dosis[]'></td><td><input type='time' class='form-control' name='hora_primera_toma[]'></td><td><input type='number' class='form-control' name='tomas_al_dia[]'></td><td><input type='date' class='form-control' name='fecha_inicio[]'></td><td><input type='date' class='form-control' name='fecha_fin[]'></td><td><button type='button' class='btn btn-danger btnEliminarFila'>-</button></td></tr>");
            $("#tablaTratamiento tbody").append(nuevaFila); // Usa el identificador único
        
        });

        // Cambia la línea que elimina una fila dentro de la función click
        $(".table").on("click", ".btnEliminarFila", function() {
            $(this).closest("tr").remove();        
        });
    </script>
</body>
</html>