<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion Usuarios</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">

     <style>
        .custom-dropdown-toggle::after {
            display: none; 
        }
    </style>
</head>

<body style="zoom: 1.5;">
    <% include nav.ejs %>
    <main>

        <div id="filtrado" style="display: flex;" class="container mt-5">
          <div id="buscador"></div>
          <div id="drop"></div>
        </div>

            <div id="Contenedor" class="container mt-3">  
            
                <h2>Lista de peticiones de citas</h2>
                <div class="row">
                    <% notificaciones.forEach(notificacion => { %>
                        <div id="card_<%= notificacion.id %>" class="col-md-4 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title"><%= notificacion.motivo %></h5>
                                    <p class="card-text" id="dni_<%= notificacion.id %>">DNI: <%= notificacion.paciente_dni %></p>
                                    <p> 
                                        Fecha: 
                                        <input type="date" name="fecha" class="form-control" id="fecha_<%= notificacion.id %>" value="<%= notificacion.fecha %>" readonly>
                                        Hora:
                                        <input type="time" name="time" class="form-control" id="hora_<%= notificacion.id %>" value="<%= notificacion.hora %>" readonly>
                                    </p>
                                    <button type="button" class="btn btn-primary" onclick="mostrarModal('<%= notificacion.id %>')">Confirmar / Rechazar Cita</button>
                                </div>
                            </div>
                        </div>
                    <% }); %>
                    <hr>
                    
                </div>
                <h2>Lista de citas</h2>
                <div id="citas" class=""></div>
            </div>
            
        </main>
            
        <div class="modal fade" id="modalConfirmarRechazar" tabindex="-1" aria-labelledby="modalConfirmarRechazarLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalConfirmarRechazarLabel">Confirmar / Rechazar Cita</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="modalBody">
                        <div class="mb-3">
                            <label for="duracionReunion" class="form-label">Duración de la reunión (minutos)</label>
                            <input type="number" class="form-control" id="duracion" placeholder="Ingrese la duración">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" onclick="rechazarCita(this)">Rechazar Cita</button>
                        <button type="button" class="btn btn-primary" onclick="confirmarCita(this)">Confirmar</button>
                    </div>
                </div>
            </div>
        </div>

    </main>


    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script> 

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="/scripts/gestionNotificaciones.js"></script>
    <script src="/scripts/gestionCitas.js"></script>
       
</body>
</html>
